<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../public/reset.css">
  <link rel="stylesheet" type="text/css" href="../../public/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reel Binge</title>
  <link rel="shortcut icon" href="../../public/favicon.ico" type="image/x-icon">
</head>

<body class="firstbody">

    <form action="movie.handlebars" class="btnbox">
        <button type="submit" class="btn btn-danger btn-lg" id="binge">Start Binge</button>
    </form>

    <script type="text/javascript" src="../public/script.js"></script>

</body>

</html>