<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/reset.css">
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reel Binge</title>
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>


    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        <br>
        <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">search</button>
        </form>
    </div>

    <div id="main">
        <h2>Sidenav Push Example</h2>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
    </div>

    <br>

    <hr>

    <div id="main">

    </div>

    <br>

    <hr>

    <div id="main">

    </div>

    <script type="text/javascript" src="../public/script.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

</body>

</html>