<div id="sBody">

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <br>
        <form>
            <input type="text" placeholder="Search.." name="search" id="movieToSearchFor">
            <button type="button" id="submitMovie">search</button>
        </form>
    </div>

    <div class="moviePost" id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;Binge</span>
    </div>

    <hr>

    <div class="moviePost" id="movie">

    </div>

    <hr>

    <div class="moviePost" id="poster">

    </div>

    <hr>

    <div class="moviePost" id="year">

    </div>

</div>